:root {
  --color-A: hsl(180, 100%, 45%);
  --color-B: hsl(193, 100%, 60%);
  --color-C: hsl(206, 100%, 55%);
  --color-D: hsl(223, 100%, 75%);
  --color-E: hsl(240, 100%, 75%);
  --color-F: hsl(255, 100%, 80%);
  --color-G: hsl(270, 100%, 65%);
  --color-H: hsl(285, 100%, 67.5%);
  --color-I: hsl(300, 100%, 50%);
  --color-J: hsl(310, 100%, 62.5%);
  --color-K: hsl(320, 100%, 55%);
  --color-L: hsl(340, 100%, 65%);
  --color-M: hsl(0, 100%, 55%);
  --color-N: hsl(7.5, 100%, 62.5%);
  --color-O: hsl(15, 100%, 50%);
  --color-P: hsl(25, 100%, 60%);
  --color-Q: hsl(35, 100%, 50%);
  --color-R: hsl(39.5, 100%, 57.5%);
  --color-S: hsl(44, 100%, 45%);
  --color-T: hsl(52, 100%, 50%);
  --color-U: hsl(60, 100%, 35%);
  --color-V: hsl(67.5, 100%, 47.5%);
  --color-W: hsl(75, 100%, 40%);
  --color-X: hsl(97.5, 100%, 52.5%);
  --color-Y: hsl(120, 100%, 45%);
  --color-Z: hsl(150, 100%, 55%);
  --color-shift-A: hsl(52, 100%, 50%);
  --color-shift-B: hsl(97.5, 100%, 52.5%);
  --color-shift-C: hsl(340, 100%, 65%);
  --color-shift-D: hsl(39.5, 100%, 57.5%);
  --color-shift-E: hsl(240, 100%, 75%);
  --color-shift-F: hsl(7.5, 100%, 62.5%);
  --color-shift-G: hsl(15, 100%, 50%);
  --color-shift-H: hsl(25, 100%, 60%);
  --color-shift-I: hsl(285, 100%, 67.5%);
  --color-shift-J: hsl(35, 100%, 50%);
  --color-shift-K: hsl(0, 100%, 55%);
  --color-shift-L: hsl(44, 100%, 45%);
  --color-shift-M: hsl(320, 100%, 55%);
  --color-shift-N: hsl(120, 100%, 45%);
  --color-shift-O: hsl(300, 100%, 50%);
  --color-shift-P: hsl(310, 100%, 62.5%);
  --color-shift-Q: hsl(180, 100%, 45%);
  --color-shift-R: hsl(223, 100%, 75%);
  --color-shift-S: hsl(67.5, 100%, 47.5%);
  --color-shift-T: hsl(206, 100%, 55%);
  --color-shift-U: hsl(270, 100%, 65%);
  --color-shift-V: hsl(75, 100%, 40%);
  --color-shift-W: hsl(193, 100%, 60%);
  --color-shift-X: hsl(60, 100%, 35%);
  --color-shift-Y: hsl(255, 100%, 80%);
  --color-shift-Z: hsl(150, 100%, 55%);
  --color-shift-1: hsl(343.75, 100%, 65%);
  --color-shift-2: hsl(188.12, 100%, 48.12%);
  --color-shift-3: hsl(150, 100%, 45%);
  --color-shift-4: hsl(0, 100%, 55%);
  --color-shift-5: hsl(48, 100%, 42.5%);
  --color-shift-6: hsl(250.31, 100%, 81.56%);
  --color-shift-7: hsl(12.19, 100%, 50.94%);
  --color-shift-8: hsl(105.94, 100%, 43.44%);
  --color-shift-9: hsl(210.25, 100%, 57.5%);
  --color-shift-10: hsl(307.5, 100%, 51.88%);
  --color-shift-11: hsl(60.94, 100%, 35.31%);
  --color-shift-12: hsl(27.5, 100%, 50%);
  --color-shift-13: hsl(237.88, 100%, 73.75%);
  --color-shift-14: hsl(73.13, 100%, 39.38%);
  --color-shift-15: hsl(274.69, 100%, 72.66%);
  --color-shift-16: hsl(6.09, 100%, 62.97%);
  --color-shift-17: hsl(42.59, 100%, 55.78%);
  --color-shift-18: hsl(315.63, 100%, 63.91%);
  --color-shift-19: hsl(87.66, 100%, 51.41%);
  --color-shift-20: hsl(198.69, 100%, 62.19%);
  --color-shift-21: hsl(299.06, 100%, 60.47%);
  --color-shift-22: hsl(54.5, 100%, 48.44%);
  --color-shift-23: hsl(262.5, 100%, 67.5%);
  --color-shift-24: hsl(19.38, 100%, 60%);
  --color-shift-25: hsl(224.06, 100%, 75.63%);
  --color-shift-26: hsl(38.94, 100%, 47.81%);
  --color-shift-27: hsl(174.37, 100%, 55%);
  --color-shift-28: hsl(327.5, 100%, 55%);
  --color-shift-29: hsl(67.03, 100%, 47.34%);
  --color-shift-30: hsl(286.88, 100%, 56.56%);
  --color-shift-31: hsl(125.62, 100%, 55%);
  --color-shift-32: hsl(35.28, 100%, 59.84%);
  --name-style-1: "Bl bl Eu eu Pi pi kr Kr";
  --name-style-2: "oo Oo ew Ew";
  --name-style-3: "ap Ap sk Sk wa Wa lu Lu";
  --name-style-4: "An an Sp sp pl Pl";
  --name-style-5: "ev Ev ma Ma euk Euk tux";
  --name-style-6: "z0";
  --name-style-7: "apo Apo";
  --name-style-8: "d3l del";
  --name-style-9: "euro Euro";
  --name-style-10: "luc lir";
  --name-style-11: "paw Paw";
  --name-style-12: "space Space";
  --name-style-13: "supa Supa";
  --name-style-14: "tang";
  --name-style-15: "tulp";
  --name-style-16: "tux";
  --name-style-17: "b0t$ B0t$ bot$ Bot$";
  --irc-names: "white, black, navy, green, red, brown, purple, orange, yellow, lime, teal, cyan, blue, fuchsia, gray, lightgray";
}

@media (prefers-color-scheme: light) {
  :root {
    --color-A: hsl(180, 100%, 25.5%);
    --color-B: hsl(193, 100%, 22.18%);
    --color-C: hsl(206, 100%, 41.5%);
    --color-D: hsl(223, 100%, 45.25%);
    --color-E: hsl(240, 100%, 69%);
    --color-F: hsl(255, 100%, 55.75%);
    --color-G: hsl(270, 100%, 62.5%);
    --color-H: hsl(285, 100%, 40%);
    --color-I: hsl(300, 100%, 41%);
    --color-J: hsl(310, 100%, 32.5%);
    --color-K: hsl(320, 100%, 44%);
    --color-L: hsl(340, 100%, 35.25%);
    --color-M: hsl(0, 100%, 46.5%);
    --color-N: hsl(7.5, 100%, 35%);
    --color-O: hsl(15, 100%, 43.5%);
    --color-P: hsl(25, 100%, 28.75%);
    --color-Q: hsl(35, 100%, 34%);
    --color-R: hsl(39.5, 100%, 21.75%);
    --color-S: hsl(44, 100%, 29.5%);
    --color-T: hsl(52, 100%, 16.75%);
    --color-U: hsl(60, 100%, 24%);
    --color-V: hsl(67.5, 100%, 14.5%);
    --color-W: hsl(75, 100%, 25%);
    --color-X: hsl(97.5, 100%, 16%);
    --color-Y: hsl(120, 100%, 27%);
    --color-Z: hsl(150, 100%, 16.25%);
    --color-shift-A: hsl(52, 100%, 16.75%);
    --color-shift-B: hsl(97.5, 100%, 16%);
    --color-shift-C: hsl(340, 100%, 35.25%);
    --color-shift-D: hsl(39.5, 100%, 21.75%);
    --color-shift-E: hsl(240, 100%, 69%);
    --color-shift-F: hsl(7.5, 100%, 35%);
    --color-shift-G: hsl(15, 100%, 43.5%);
    --color-shift-H: hsl(25, 100%, 28.75%);
    --color-shift-I: hsl(285, 100%, 40%);
    --color-shift-J: hsl(35, 100%, 34%);
    --color-shift-K: hsl(0, 100%, 46.5%);
    --color-shift-L: hsl(44, 100%, 29.5%);
    --color-shift-M: hsl(320, 100%, 44%);
    --color-shift-N: hsl(120, 100%, 27%);
    --color-shift-O: hsl(300, 100%, 41%);
    --color-shift-P: hsl(310, 100%, 32.5%);
    --color-shift-Q: hsl(180, 100%, 25.5%);
    --color-shift-R: hsl(223, 100%, 45.25%);
    --color-shift-S: hsl(67.5, 100%, 14.5%);
    --color-shift-T: hsl(206, 100%, 41.5%);
    --color-shift-U: hsl(270, 100%, 62.5%);
    --color-shift-V: hsl(75, 100%, 25%);
    --color-shift-W: hsl(193, 100%, 22.18%);
    --color-shift-X: hsl(60, 100%, 24%);
    --color-shift-Y: hsl(255, 100%, 55.75%);
    --color-shift-Z: hsl(150, 100%, 16.25%);
    --color-shift-1: hsl(343.75, 100%, 35.48%);
    --color-shift-2: hsl(188.12, 100%, 29.56%);
    --color-shift-3: hsl(150, 100%, 26.25%);
    --color-shift-4: hsl(0, 100%, 46.5%);
    --color-shift-5: hsl(48, 100%, 28.13%);
    --color-shift-6: hsl(250.31, 100%, 56.77%);
    --color-shift-7: hsl(12.19, 100%, 44.06%);
    --color-shift-8: hsl(105.94, 100%, 26.38%);
    --color-shift-9: hsl(210.25, 100%, 44.94%);
    --color-shift-10: hsl(307.5, 100%, 42.13%);
    --color-shift-11: hsl(60.94, 100%, 24.06%);
    --color-shift-12: hsl(27.5, 100%, 37.56%);
    --color-shift-13: hsl(237.88, 100%, 67.28%);
    --color-shift-14: hsl(73.13, 100%, 24.88%);
    --color-shift-15: hsl(274.69, 100%, 48.59%);
    --color-shift-16: hsl(6.09, 100%, 35.28%);
    --color-shift-17: hsl(42.59, 100%, 20.2%);
    --color-shift-18: hsl(315.63, 100%, 33.34%);
    --color-shift-19: hsl(87.66, 100%, 15.56%);
    --color-shift-20: hsl(198.69, 100%, 25.66%);
    --color-shift-21: hsl(299.06, 100%, 31.5%);
    --color-shift-22: hsl(54.5, 100%, 15.89%);
    --color-shift-23: hsl(262.5, 100%, 64.13%);
    --color-shift-24: hsl(19.38, 100%, 31.42%);
    --color-shift-25: hsl(224.06, 100%, 46.11%);
    --color-shift-26: hsl(38.94, 100%, 32.03%);
    --color-shift-27: hsl(174.37, 100%, 15.64%);
    --color-shift-28: hsl(327.5, 100%, 44.47%);
    --color-shift-29: hsl(67.03, 100%, 14.47%);
    --color-shift-30: hsl(286.88, 100%, 48.7%);
    --color-shift-31: hsl(125.62, 100%, 16.86%);
    --color-shift-32: hsl(35.28, 100%, 23.86%);
  }
}
